<!-- About Section -->
<section
  id="about" class="about section">
  <!-- Section Title -->
  <div class="container section-title" data-aos="fade-up">
    <h2>About</h2>
    <p>{{ resume.about.headline }}</p>
  </div>
</section>
<!-- /About Section -->