---
layout: my-resume.njk

sitemap:
  changefreq: weekly
  priority: 0.8
---

{% include "my-resume/hero.njk" %}
{% include "my-resume/about.njk" %}
{% include "my-resume/stats.njk" %}
{% include "my-resume/skills.njk" %}
{% include "my-resume/resume.njk" %}
{# {% include "my-resume/portfolio.njk" %} #}
{% include "my-resume/services.njk" %}
{# {% include "my-resume/testimonials.njk" %} #}
{% include "my-resume/contact.njk" %}